[General]
position1=d
position=-1448
dishesmodel_RowHeight=120
dishesmodel_columncount=10
dishesmodel_Rowwidth=120

[ordertableview]
colmnswidth_%00=109
colmnswidth_%01=49
colmnswidth_%02=42
colmnswidth_%04=0
colmnswidth_%05=0
colmnswidth_%06=0
colmnswidth_%03=51
colmnswidth_%07=0
colmnswidth_%08=0

[dishestableview]
colmnswidth_%08=0
colmnswidth_%00=112
colmnswidth_%01=64
colmnswidth_%02=66
colmnswidth_%03=148
colmnswidth_%04=76
colmnswidth_%05=86
colmnswidth_%06=75
colmnswidth_%07=518
